/* body {
	background: url("../images/bg4.jpeg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;


}

h1{
	color: black;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}
h2{
	color: black;
	font-size: 18px;
	margin-top: 0;
}
.bio {
	color: black;
	font-size: 14px;
	
}
.me{
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;

}
#container{
	width: 600px;
	margin: 0 auto;
	text-align: center;
} */

#navbar{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
}

#banner{
	position: relative;
	height: 100vh;

}

#dcd{
	font-size: 10em;

}

#banner-p{

}

#banner-2{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#scroll-down{
	position: relative;
	top: 60%;
}

#about-dcd{
	height: 100vh;
}

#about-me{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: justify;
}

#portfolio{
	height: 100vh;
}

#portfolio-h2{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#carouselExampleIndicators{
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

.d-block{
	max-height: 40%;

} 

#services{
	height: 100vh;
}

#services-h2{
	position: relative;
	top:30%;
}

#contact{
	height: 100vh;
}

#contact-h2{
	position: relative;
	top: 20%;
}

#map{
	position: relative;
	top: -25%;
}

#banner{
	background-
}